*{
    font-family: 'Poppins' , sans-serif;
}
.navbar-nav li a{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6C6C6C;
}
.header_btn_text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.nav_line{
    height: 38px;
    width: 1px;
    background-color:#EBEBEB;
}
.active{
    color: #AC1313 !important;
}
.home{
    background-image: url(../images/home_bg.png);
}
.home_title h4{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;   
}
.home_title h1{
    max-width: 480px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}
.home_title h1 img{
    transform: translateY(-15px);
}
.home_title p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}
.home_btn{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #AC1313;
    border-radius: 0px;
    border: 2px solid transparent;
}
.home_btn:hover{
    color: #AC1313;
    background-color: #FFFFFF;
    border: 2px solid #AC1313;
    transition: all 0.5s ease;
}
.product_wrapper h4{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
}
.product_wrapper_h1{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #000000;
}
.product_wrapper h1 img{
    transform: translateY(-20px);
}
.product_info_in h1{
    max-width: 323px;
}
.product_info_in h1 span{
    white-space: nowrap;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 36px;
    color: #000000;
}
.product_info_in p{
    max-width: 501px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6C6C6C;
}
.product_info2_item_text h1{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #000000;
}
.product_info2_item_text p{
    max-width: 388px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6C6C6C;
}
.product_info2_item_text h3{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.card_title1{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
}
.card_title2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 60px;
}
.card:hover{
    cursor: pointer;
}
.cards_btn{
    margin-top: 60px !important;
    margin-bottom: 120px !important;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #AC1313;
    max-width: 214px;
    margin:  0 auto;
}
.cards_btn:hover{
    color: #FFFFFF;
}
.newcollection{
    background-image: url(../images/pottery_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.newcollection_in{
    max-width: 1152px;
    margin: 0 auto 122px auto;
    padding: 120px 0 120px 0;
}
.newcollection_title1{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
}
.newcollection_title2{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #000000;
}
.newcollection_text{
    max-width: 450px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #6C6C6C;
}
.newcollection_text span{
    color:#AC1313;
}
.newcollection_btn{
    background: #AC1313;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    
}
.newcollection_btn:hover{
    color: #FFFFFF;
}
.news{
    border-bottom: 1px solid #A1A1A1;
}
.news_wrapper{
    margin-bottom: 162px;
}
.news_img{
    max-width: 80px;
    margin: 0 auto;
}
.news_title1{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
}
.news_title2 span{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
}
.news_form{
    max-width: 500px;
    margin: 0 auto;
}
.textarea_news{
    max-width: 320px;
    resize: none;
    border: 1px solid #EBEBEB;
    border-radius: 0px;
    padding: 13px 10px;
}.news_btn{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
}
.news_btn:hover{
    color: #FFFFFF;
}
.check_p{
    margin-bottom: 0 !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #A1A1A1;
}
.footer_in{
    border-bottom: 1px solid #A1A1A1;
}
.links_in{
    margin-top: 107px;
    margin-bottom: 90px;
}
.links_text{
    max-width: 360px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #6C6C6C;
}
.links_img{
    display: block;
    max-width: 109px;
    margin: 0 auto;
}
.location h3{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px; 
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    
}
.location h5 a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #6C6C6C;
}

.end p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #6C6C6C;
}
.end p span{
    color: #000000;
}